<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>ebay</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>SignUp</servlet-name>
    <servlet-class>users.web.SignUp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUp</servlet-name>
    <url-pattern>/SignUp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>users.web.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddProduct</servlet-name>
    <servlet-class>products.AddProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProduct</servlet-name>
    <url-pattern>/AddProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteProducts</servlet-name>
    <servlet-class>products.DeleteProducts</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteProducts</servlet-name>
    <url-pattern>/DeleteProducts</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProductDetails</servlet-name>
    <servlet-class>products.ProductDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductDetails</servlet-name>
    <url-pattern>/ProductDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ConfirmOrder</servlet-name>
    <servlet-class>cart.ConfirmOrder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfirmOrder</servlet-name>
    <url-pattern>/ConfirmOrder</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowCart</servlet-name>
    <servlet-class>cart.ShowCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowCart</servlet-name>
    <url-pattern>/ShowCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteFromCart</servlet-name>
    <servlet-class>cart.DeleteFromCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteFromCart</servlet-name>
    <url-pattern>/DeleteFromCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EmptyCart</servlet-name>
    <servlet-class>cart.EmptyCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmptyCart</servlet-name>
    <url-pattern>/EmptyCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Checkout</servlet-name>
    <servlet-class>cart.Checkout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Checkout</servlet-name>
    <url-pattern>/Checkout</url-pattern>
  </servlet-mapping>
</web-app>